<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  	data-namespace-typo3-fluid="true">

<f:layout name="Layout"/>

	<f:section name="Main">
		<div>
			<f:render partial="Header" arguments="{_all}" />

			<f:if condition="{gallery.rows}">
				<aside {f:if(condition: '{data.bodytext}', then: '', else: 'class="no-text"')}>

					<f:comment>
						============ GALLERY WRAP ============
					</f:comment>
					<f:if condition="{data.tx_cfsc_isgallery}">
						<div class="gallery">
					</f:if>

					<f:if condition="{singleImage}">
						<f:then>
							<figure>
								<picture>
									<f:render section="srcset" arguments="{responsive : responsive, image : singleImage.file}" />
								</picture>
								<f:if condition="{asset.columns.1.media.description}">
									<figcaption>{asset.columns.1.media.description}</figcaption>
								</f:if>
							</figure>
						</f:then>
						<f:else>
							<f:render section="multipleImages" arguments="{_all}" />
						</f:else>
					</f:if>

					<f:comment>
						============ GALLERY WRAP END ============
					</f:comment>
					<f:if condition="{data.tx_cfsc_isgallery}">
						</div>
					</f:if>
				</aside>
			</f:if>

			<f:if condition="{data.bodytext}">
				<article>
					<f:format.html>{data.bodytext}</f:format.html>
				</article>
			</f:if>
		</div>

	</f:section>

	<f:section name="multipleImages">
		<f:for each="{gallery.rows}" as="asset" iteration="i">
			<figure>
				<f:if condition="{asset.columns.1.media.link}">
					<f:then>
						<f:link.typolink
								parameter="{asset.columns.1.media.link}"
								additionalAttributes="{f:if(condition: '{data.image_zoom}', then: '{rel : \'lightbox[]\'}')}">
							<f:render section="media" arguments="{_all}" />
						</f:link.typolink>
					</f:then>
					<f:else>
						<f:if condition="{data.image_zoom}">
							<f:then>
								<f:link.typolink
										parameter="{f:uri.image(image: '{asset.columns.1.media}')}"
										additionalAttributes="{rel : 'lightbox[]'}">
									<f:render section="media" arguments="{_all}" />
								</f:link.typolink>
							</f:then>
							<f:else>
								<f:render section="media" arguments="{_all}" />
							</f:else>
						</f:if>
					</f:else>
				</f:if>

				<f:if condition="{asset.columns.1.media.description}">
					<figcaption>{asset.columns.1.media.description}</figcaption>
				</f:if>
			</figure>
		</f:for>
	</f:section>

	<f:section name="media">
		<f:if condition="{data.tx_cfsc_isgallery}">
			<f:then>
				<f:image
						image="{asset.columns.1.media}"
						width="200"
						height="150c"
						alt="{asset.columns.1.media.alternative}"
						title="{asset.columns.1.media.title}"
				/>
			</f:then>
			<f:else>
				<f:if condition="{responsive}">
					<f:then>
						<picture>
							<f:render section="srcset" arguments="{responsive : responsive, image : asset.columns.1.media}" />
						</picture>
					</f:then>
					<f:else>
						<f:image
								image="{asset.columns.1.media}"
								width="{asset.columns.1.dimensions.width}"
								height="{asset.columns.1.dimensions.height}"
								alt="{asset.columns.1.media.alternative}"
								title="{asset.columns.1.media.title}"
						/>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:section>

	<f:section name="srcset">
		<f:for each="{responsive}" as="resize" key="min-width">
			<v:variable.set name="retina" value="{v:math.product(a: resize.maxwidth, b: 2)}" />

			<f:if condition="{resize.file}">
				<f:then>
					<!-- {min-width} -->
					<source srcset="{f:uri.image(image: resize.file, maxWidth: retina, cropVariant: min-width)}" media="(min-width: {min-width}) and (-webkit-min-device-pixel-ratio: 2)">
					<source srcset="{f:uri.image(image: resize.file, maxWidth: resize.maxwidth, cropVariant: min-width)}" media="(min-width: {min-width})">
				</f:then>
				<f:else>
					<!-- {min-width} : {resize.maxwidth} -->
					<source srcset="{f:uri.image(image: image, maxWidth: retina, cropVariant: min-width)}" media="(min-width: {min-width}) and (-webkit-min-device-pixel-ratio: 2)">
					<source srcset="{f:uri.image(image: image, maxWidth: resize.maxwidth, cropVariant: min-width)}" media="(min-width: {min-width})">
				</f:else>
			</f:if>
		</f:for>

		<img class="" src="{f:uri.image(image: image, maxWidth: resize.maxwidth, cropVariant: '1200px')}" alt="{image.alternative}" title="{image.title}" />
	</f:section>
</div>



